html,
body {
    margin: 0;
    padding: 0;
}


.background {
    background-color: #008000;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    background-color: rgba(17, 17, 17, 0.0);
    border-radius: 50%;
    border: 20px solid white;
    position: absolute;
    opacity: 0;
}

div .bar1,
div .bar2,
div .bar3 {
    width: 300px;
    height: 20px;
    background-color: white;
    margin: 10px 0;
    transition: 0.4s;
}

.change .circle {
    animation-name: wana01;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

@keyframes wana01 {
    0% {
        transform: scaleX(0);
    }

    5% {
        opacity: 1;
    }

    100% {
        transform: scaleX(1);
        opacity: 1;
    }
}

.change .bar1 {
    transform: rotate(-45deg) translate(-8%, 150%);
}

.change .bar3 {
    transform: rotate(45deg) translate(-8%, -150%);
}

.change .bar2 {
    opacity: 0;
}

@media only screen and (max-width: 1023px) {
    .circle {
        width: 250px;
        height: 250px;
        border: 10px solid white;
    }
    
    div .bar1,
    div .bar2,
    div .bar3 {
        width: 200px;
        height: 10px;
        margin: 5px 0;
    }
    
}
